jupyter
jupyter-datatables
scikit-learn
pandas
numpy
flask
flask-cors
tensorflow
torch
matplotlib
seaborn
skl2onnx
onnx
onnxruntime
textblob
nltk
scipy
umap-learn
hdbscan
keras
statsmodels
dovpanda
opencv-python
gymnasium[classic-control]
